<div class="row about-title-div">
    <span class="welcome-title">Welcome to my World!</span>
</div>

<div class="category-div">
    <span class="fav-title">Here are some of my favourite things!!</span>
</div>
<div class="row about-div">
   <image-card ng-repeat="image in image" image="image"></image-card>
</div>



<div class="category-div">
    <span class="fav-title">Outside of work am a Super fan of !</span>
</div>
<div class="row about-div">
    <image-card ng-repeat="image in image" image="image"></image-card>
</div>



<div class="category-div">
    <span class="fav-title">Happiness/ Stress relief zone!</span>
</div>
<div class="row about-div">
    <image-card ng-repeat="image in image" image="image"></image-card>
</div>