<div class="portfolio-content">
        <table class="content-table">
            <tr class="edu-tr">
                <td class="portfolio-degree">
                   {{vm.education.degree}}
                </td>
            </tr>
            <tr class="edu-tr">
                <td>
                    {{vm.education.university}}
                </td>
            </tr>
            <tr class="edu-tr">
                <td>
                    {{vm.education.location}}
                </td>
            </tr>
        </table>
</div>