<div class="portfolio-content">
        <table class="content-table">
            <tr class="edu-tr">
                <td class="portfolio-degree">
                   {{vm.education.degree}}
                </td>
            </tr>
            <tr class="edu-tr">
                <td>
                    <a class="black-links" href="{{vm.education.url}}" target="_blank">{{vm.education.university}}</a>
                </td>
            </tr>
            <tr class="edu-tr">
                <td>
                    {{vm.education.location}}
                </td>
            </tr>
        </table>
</div>