<div class="row portfolio-div">

    <div class="job-title-div">
        <span class="job-title">iOS Mobile Developer</span>
    </div>

    <div class="my-work-main-div">
        <span class="work-experience"> My Work </span>
        <div class="description">
            Software Developer for Bank of America iPhone/iPad applications.
        </div>
        <project-card ng-repeat="work in workProjects.projects" project="work"></project-card>
        <project-card ng-repeat="academic in academicProjects.projects" project="academic"></project-card>
    </div>

    <div class="work-experience-div">
        <span class="work-experience"> My Background </span>
        <div class="background-description">
            My journey from my first encounter with technology until today has seen an ample development in every field, be it electronics, computers or electrical equipment. Computer technology though, more so than any other field of technology, has made the most impactful imprint on my life thus far. In middle school, my knowledge of computers consisted of a “start” button, "MS word,” and applications such as “paint” or chat. My passion for computers started at this very early age, but the opportunity to explore further came later in high school when I realized that a simple collection of characters could emerge as applications, which could thoroughly change our way of living. Curious to learn how the little electronic box could perform so many miracles, I developed a genuine interest towards computers and programming.
        </div>

        <work-card ng-repeat="work in work.company" work="work"></work-card>

        <education-card ng-repeat="level in education.level" education="level" ></education-card>

    </div> <!-- end of education div -->
</div>