
<div class="card-item">
    <img src="{{vm.work.logo}}" class="img-circle univ-image" />
    <div class="card-details">
        <span>{{vm.work.role}}</span><br>
        <span>{{vm.work.workplace}}</span><br>
        <span>{{vm.work.years}}</span><br>
    </div> <!-- end of education details -->
</div> <!-- end of education item -->


<div class="collapse collapse-project" id="{{vm.work.collapseID}}">
    <div class="project-details">
        Divya Akuthotaaskdjfhsufsdf shgksfhk aaksdhfka ksdhfksdflashjdf kshdfkshfdkhsdfj skdhjfksdhfkjd sdfkshdkfhskdjf kasdfksjdfkshdf kshdfksjhdfk
    </div>
</div>