<div class="work-div">
    <table class="content-table">
        <tr>
            <td>
                <span class="project-name">{{vm.work.name}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="project-technologies">{{vm.work.technologies}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="project-description">{{vm.work.description}}</span>
            </td>
        </tr>
    </table>
<br/><br/>
</div>